<div class="book">
  <%= content_tag :span, "#{@book.name} (#{@book.author})", class: "book-title" %>
  <% if logged_in? %>
  <%= link_to 'Edit', edit_book_path(@book) %>
  <% end %>
  <br>
  <%= image_tag @book.image.url(:medium) %>
</div>

<div id="notes">
  <%= render @book.notes %>
</div>

<% if logged_in? %>
<div>
  <%= form_for([@book, @book.notes.new]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_field :note, size: "25x5" %>
    </div>
    <div class="actions">
      <%= f.submit "Nueva Nota" %>
    </div>
  <% end %>
</div>
<% end %>

<%= link_to 'Back', books_path %>