<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if logged_in? %>
      <div>
        <p>Welcome <%= current_user.name %> |
        <%= link_to "Logout", logout_path, method: :delete %></p>
      </div>
    <% else %>
      <%= link_to "Sign up", signup_path %>
      <%= link_to "Books", root_path %>
    <% end %>
      
    <% flash.each do |key, value| %>
      <p id='<%= key %>'><%= value %></p>
    <% end %>
    
    <%= yield %>
    
  </body>
</html>